# Process the subway station entrance/exit coordinate data

In [1]:
from datetime import datetime
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

import geopandas as gpd
import pandas as pd
import pygmt

import turnstile as ts

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv("dat/NYC_Transit_Subway_Entrance_And_Exit_Data.csv")

In [3]:
df

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location,entrance_georeference,station_georeference
0,IND,Rockaway,Far Rockaway-Mott Av,40.603995,-73.755405,A,NaN,NaN,NaN,NaN,...,True,Beach 22nd St,Mott Ave,SW,40.604657,-73.754178,"(40.603995, -73.755405)","(40.604657, -73.754178)",POINT (-73.754178 40.604657),POINT (-73.755405 40.603995)
1,IND,Rockaway,Beach 25th St,40.600066,-73.761353,A,NaN,NaN,NaN,NaN,...,True,Beach 25th St,Rockaway Frwy,NW,40.599708,-73.761959,"(40.600066, -73.761353)","(40.599708, -73.761959)",POINT (-73.761959 40.599708),POINT (-73.761353 40.600066)
2,IND,Rockaway,Beach 25th St,40.600066,-73.761353,A,NaN,NaN,NaN,NaN,...,True,Beach 25th St,Rockaway Frwy,SW,40.599427,-73.761807,"(40.600066, -73.761353)","(40.599427, -73.761807)",POINT (-73.761807 40.599427),POINT (-73.761353 40.600066)
3,IND,Rockaway,Beach 25th St,40.600066,-73.761353,A,NaN,NaN,NaN,NaN,...,True,Beach 25th St,Rockaway Frwy,SW,40.599670,-73.761596,"(40.600066, -73.761353)","(40.59967, -73.761596)",POINT (-73.761596 40.59967),POINT (-73.761353 40.600066)
4,IND,Rockaway,Beach 36th St,40.595398,-73.768175,A,NaN,NaN,NaN,NaN,...,True,Beach 35th,Rockaway Frwy,NW,40.595617,-73.768032,"(40.595398, -73.768175)","(40.595617, -73.768032)",POINT (-73.768032 40.595617),POINT (-73.768175 40.595398)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,BMT,4 Avenue,95th St,40.616622,-74.030876,R,NaN,NaN,NaN,NaN,...,True,4th Ave,93th St,SW,40.617587,-74.030696,"(40.616622, -74.030876)","(40.617587, -74.030696)",POINT (-74.030696 40.617587),POINT (-74.030876 40.616622)
1864,BMT,4 Avenue,95th St,40.616622,-74.030876,R,NaN,NaN,NaN,NaN,...,True,5th Ave,95th St,NE,40.615893,-74.030860,"(40.616622, -74.030876)","(40.615893, -74.03086)",POINT (-74.03086 40.615893),POINT (-74.030876 40.616622)
1865,BMT,4 Avenue,95th St,40.616622,-74.030876,R,NaN,NaN,NaN,NaN,...,True,4th Ave,95th St,SW,40.616021,-74.031383,"(40.616622, -74.030876)","(40.616021, -74.031383)",POINT (-74.031383 40.616021),POINT (-74.030876 40.616622)
1866,BMT,4 Avenue,95th St,40.616622,-74.030876,R,NaN,NaN,NaN,NaN,...,True,4th Ave,93th St,NE,40.617363,-74.030404,"(40.616622, -74.030876)","(40.617363, -74.030404)",POINT (-74.030404 40.617363),POINT (-74.030876 40.616622)
1867,BMT,4 Avenue,95th St,40.616622,-74.030876,R,NaN,NaN,NaN,NaN,...,True,4th Ave,95th St,NW,40.616189,-74.031234,"(40.616622, -74.030876)","(40.616189, -74.031234)",POINT (-74.031234 40.616189),POINT (-74.030876 40.616622)

In [7]:
for x in df['Station Name'].unique():
    if "125" in x:
        print("'{:s}'".format(x))

'125th St'

In [12]:
sel = np.logical_and(
    df['Station Name'] == '125th St',
    df['Line'] == '8 Avenue',
)

In [13]:
df[sel]

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location,entrance_georeference,station_georeference
863,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,127th St,SE,40.811858,-73.951351,"(40.811109, -73.952343)","(40.811858, -73.951351)",POINT (-73.951351 40.811858),POINT (-73.952343 40.811109)
864,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,127th St,SW,40.811990,-73.951745,"(40.811109, -73.952343)","(40.81199, -73.951745)",POINT (-73.951745 40.81199),POINT (-73.952343 40.811109)
865,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,SW,40.810636,-73.952886,"(40.811109, -73.952343)","(40.810636, -73.952886)",POINT (-73.952886 40.810636),POINT (-73.952343 40.811109)
866,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,NW,40.811007,-73.952615,"(40.811109, -73.952343)","(40.811007, -73.952615)",POINT (-73.952615 40.811007),POINT (-73.952343 40.811109)
867,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,SE,40.810526,-73.952583,"(40.811109, -73.952343)","(40.810526, -73.952583)",POINT (-73.952583 40.810526),POINT (-73.952343 40.811109)
868,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,NE,40.810879,-73.952318,"(40.811109, -73.952343)","(40.810879, -73.952318)",POINT (-73.952318 40.810879),POINT (-73.952343 40.811109)

In [16]:
df[df['Station Name'] == '125th St']

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location,entrance_georeference,station_georeference
683,IRT,Lexington,125th St,40.804138,-73.937594,4,5,6,NaN,NaN,...,True,Lexington Avenue,125th Street,NE,40.804407,-73.937234,"(40.804138, -73.937594)","(40.804407, -73.937234)",POINT (-73.937234 40.804407),POINT (-73.937594 40.804138)
684,IRT,Lexington,125th St,40.804138,-73.937594,4,5,6,NaN,NaN,...,True,Lexington Ave,125th St,SW,40.804251,-73.937658,"(40.804138, -73.937594)","(40.804251, -73.937658)",POINT (-73.937658 40.804251),POINT (-73.937594 40.804138)
685,IRT,Lexington,125th St,40.804138,-73.937594,4,5,6,NaN,NaN,...,True,Lexington Ave,125th St,NE,40.804517,-73.937186,"(40.804138, -73.937594)","(40.804517, -73.937186)",POINT (-73.937186 40.804517),POINT (-73.937594 40.804138)
686,IRT,Lexington,125th St,40.804138,-73.937594,4,5,6,NaN,NaN,...,True,Lexington Ave,125th St,SE,40.804164,-73.937444,"(40.804138, -73.937594)","(40.804164, -73.937444)",POINT (-73.937444 40.804164),POINT (-73.937594 40.804138)
687,IRT,Lexington,125th St,40.804138,-73.937594,4,5,6,NaN,NaN,...,True,Lexington Ave,125th St,NW,40.804597,-73.937400,"(40.804138, -73.937594)","(40.804597, -73.9374)",POINT (-73.9374 40.804597),POINT (-73.937594 40.804138)
772,IRT,Lenox,125th St,40.807754,-73.945495,2,3,NaN,NaN,NaN,...,False,Lenox Ave,125th St,NE,40.807875,-73.945229,"(40.807754, -73.945495)","(40.807875, -73.945229)",POINT (-73.945229 40.807875),POINT (-73.945495 40.807754)
773,IRT,Lenox,125th St,40.807754,-73.945495,2,3,NaN,NaN,NaN,...,False,Lenox Ave,125th St,NW,40.807995,-73.945524,"(40.807754, -73.945495)","(40.807995, -73.945524)",POINT (-73.945524 40.807995),POINT (-73.945495 40.807754)
774,IRT,Lenox,125th St,40.807754,-73.945495,2,3,NaN,NaN,NaN,...,False,Lenox Ave,125th St,SW,40.807681,-73.945752,"(40.807754, -73.945495)","(40.807681, -73.945752)",POINT (-73.945752 40.807681),POINT (-73.945495 40.807754)
775,IRT,Lenox,125th St,40.807754,-73.945495,2,3,NaN,NaN,NaN,...,False,Lenox Ave,125th St,SE,40.807548,-73.945463,"(40.807754, -73.945495)","(40.807548, -73.945463)",POINT (-73.945463 40.807548),POINT (-73.945495 40.807754)
863,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,127th St,SE,40.811858,-73.951351,"(40.811109, -73.952343)","(40.811858, -73.951351)",POINT (-73.951351 40.811858),POINT (-73.952343 40.811109)
864,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,127th St,SW,40.811990,-73.951745,"(40.811109, -73.952343)","(40.81199, -73.951745)",POINT (-73.951745 40.81199),POINT (-73.952343 40.811109)
865,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,SW,40.810636,-73.952886,"(40.811109, -73.952343)","(40.810636, -73.952886)",POINT (-73.952886 40.810636),POINT (-73.952343 40.811109)
866,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,NW,40.811007,-73.952615,"(40.811109, -73.952343)","(40.811007, -73.952615)",POINT (-73.952615 40.811007),POINT (-73.952343 40.811109)
867,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,SE,40.810526,-73.952583,"(40.811109, -73.952343)","(40.810526, -73.952583)",POINT (-73.952583 40.810526),POINT (-73.952343 40.811109)
868,IND,8 Avenue,125th St,40.811109,-73.952343,A,B,C,D,NaN,...,True,Saint Nicholas Ave,125th St,NE,40.810879,-73.952318,"(40.811109, -73.952343)","(40.810879, -73.952318)",POINT (-73.952318 40.810879),POINT (-73.952343 40.811109)
937,IRT,Broadway-7th Ave,125th St,40.815581,-73.958372,1,NaN,NaN,NaN,NaN,...,True,Broadway,Tiemann Pl,NW,40.815688,-73.958554,"(40.815581, -73.958372)","(40.815688, -73.958554)",POINT (-73.958554 40.815688),POINT (-73.958372 40.815581)
938,IRT,Broadway-7th Ave,125th St,40.815581,-73.958372,1,NaN,NaN,NaN,NaN,...,True,Broadway,125th St,SW,40.815230,-73.958366,"(40.815581, -73.958372)","(40.81523, -73.958366)",POINT (-73.958366 40.81523),POINT (-73.958372 40.815581)
939,IRT,Broadway-7th Ave,125th St,40.815581,-73.958372,1,NaN,NaN,NaN,NaN,...,True,Broadway,125th St,SW,40.815307,-73.958826,"(40.815581, -73.958372)","(40.815307, -73.958826)",POINT (-73.958826 40.815307),POINT (-73.958372 40.815581)
940,IRT,Broadway-7th Ave,125th St,40.815581,-73.958372,1,NaN,NaN,NaN,NaN,...,True,Broadway,Tiemann Pl,NE,40.815143,-73.958439,"(40.815581, -73.958372)","(40.815143, -73.958439)",POINT (-73.958439 40.815143),POINT (-73.958372 40.815581)